* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
    line-height: 100%;
    cursor: none !important;
}

*::selection {
    background: $purplegrey;
    color: $white;
}

html {
    font-size: 62.5%;

    @include mq-max('xxl') {
        font-size: 50%;
    }

    @include mq-max('xl') {
        font-size: 45%;
    }

    @include mq-max('lg') {
        font-size: 40%;
    }

    @include mq-max('sm') {
        font-size: 36%;
    }
}

body {
    background: $blue;
    cursor: none !important;
}

.prevent-scroll {
    height: 100%;
    overflow: hidden;
}

.main-content {
    padding: $body-padding;
    transition: 0.6s linear 0.4s;
    transform-origin: left center;
    overflow: hidden;
    
    @include mq-max('sm') {
        padding: $body-padding-small / 2;
    }

    &.active {
        opacity: 0;
        transition: 0.6s linear;
    }
}

a {
    text-decoration: none;
    // cursor: pointer;
    color: $black;
}

button {
    // cursor: pointer;
    background: none;
    border: none;
}

img {
    width: 100%;
}   

.menu-btn-wrapper {
    position: fixed;
    bottom: $body-padding;
    right: $body-padding;
    z-index: 5;
    translate: 200% 0;
    rotate: 90deg;
    opacity: 0;
    pointer-events: none;
    transition: translate 0.75s $cubic-ease-back 2.2s,
        rotate 0.75s $cubic-ease-back 2.2s, 
        opacity 0.4s linear 2.2s;


    @include mq-min('xxxl') {
        bottom: $body-padding;
        right: calc(50% - 92rem);
    }

    &.active {
        translate: 0 0;
        rotate: 0deg;
        opacity: 1;
        pointer-events: all;
    }

    .menu-btn {
        background: $black;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        color: $white;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
        box-shadow: 4px 4px 8px rgba($black, 0.5);
        
        transition: background 0.6s $cubic-ease, 
            scale 0.25s ease, 
            translate 0.75s $cubic-ease-back,
            rotate 0.75s $cubic-ease-back, 
            opacity 0.4s linear;
    
        &:hover,
        &:focus {
            scale: 1.12;
        }
    
        &.hide-menu-btn {
            translate: 200% 0;
            rotate: 90deg;
            opacity: 0;
            pointer-events: none;
        }
    
        &.active {
            translate: 0 0;
            opacity: 1;
            pointer-events: all;
            background: $coral;
            transition: background 0.6s $cubic-ease 0.4s, scale 0.25s ease;
        }
    
        @include mq-max('md') {
            width: 68px;
            height: 68px;
            font-size: 14px;
        }
    
        @include mq-max('sm') {
            bottom: $body-padding-small;
            right: $body-padding-small;
        }
    
    }
}

.nav-menu {
    position: fixed;
    top: 0;
    left: 50%;
    translate: -50% 0;
    width: min(100vw, $width-constraint);
    height: 100vh;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    padding: calc($body-padding * 2);
    z-index: 3;
    pointer-events: none;
    
    @include mq-max('sm') {
        padding: calc($body-padding * 2) $body-padding;
    }

    &.active {
        pointer-events: all;

        .nav-item {
            opacity: 1;
            pointer-events: all;
            transition: 0.8s $cubic-ease 0.6s;
        }

        .abstract {
            height: 100vh;
        }
    }

    .nav-item {
        z-index: 1;
        opacity: 0;
        pointer-events: none;
        transition: 0.4s $cubic-ease 0s;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        a {
            margin: 0.6rem 0;
            padding-bottom: 0.4rem;
            font-size: 8rem;
            font-weight: 900;
            text-transform: uppercase;
            -webkit-text-stroke: 2px $white;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            background-repeat: no-repeat;

            background-size: 0 100%;
            -webkit-background-size: 0 100%;

            transition: 0.4s cubic-bezier(.6,-0.06,.33,1.31);
            -webkit-transition: 0.4s cubic-bezier(.6,-0.06,.33,1.31);

            background-image: linear-gradient(135deg, $white 0%, $white 50%, transparent 50.1%);

            &:hover,
            &:focus {
                background-size: 220% 100%;
                -webkit-background-size: 220% 100%;
            }

            @include mq-max('md') {
                // font-size: 8rem;
                -webkit-text-stroke-width: 1px;

                &:hover,
                &:focus {
                    -webkit-text-stroke-width: 1px;
                }
            }

            &:nth-of-type(2) {
                background-image: linear-gradient(135deg, $coral 0%, $coral 50%, transparent 50.1%);

                &:hover,
                &:focus {
                    -webkit-text-stroke-color: $coral;
                }
            }
            &:nth-of-type(3) {
                background-image: linear-gradient(135deg, $blue 0%, $blue 50%, transparent 50.1%);

                &:hover,
                &:focus {
                    -webkit-text-stroke-color: $blue;
                }
            }
            &:nth-of-type(4) {
                background-image: linear-gradient(135deg, $purplegrey 0%, $purplegrey 50%, transparent 50.1%);

                &:hover,
                &:focus {
                    -webkit-text-stroke-color: $purplegrey;
                }
            }
            &:nth-of-type(5) {
                background-image: linear-gradient(135deg, $grey 0%, $grey 50%, transparent 50.1%);

                &:hover,
                &:focus {
                    -webkit-text-stroke-color: $grey;
                }
            }
        }
    }

    .nav-logo {
        width: 16rem;
        // position: fixed;
        // top: calc($body-padding * 2);
        // left: calc($body-padding * 2);
        // left: 50%;
        // translate: -50% 0;
    }

    .nav-links-2 {
        display: flex;
        gap: 2rem;

        @include mq-max('md') {
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
        }

        a {
            position: relative;
            color: $white;
            font-size: max(14px, 1.8rem);

            &:hover,
            &:focus {
                &::after {
                    width: 100%;
                }
            }

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                translate: 0 8px;
                width: 0;
                height: 2px;
                background: $white;
                transition: 0.3s ease;

                @include mq-max('md') {
                    translate: 0 4px;
                    height: 1px;
                }
            }
        }
    }

    .abstract {
        position: absolute;
        background: $black;
        width: 50vw;
        height: 0;
        transition: height 0.8s $cubic-ease 0.2s;

        &:nth-of-type(1) {
            top: 0;
            right: 0;
        }

        &:nth-of-type(2) {
            bottom: 0;
            left: 0;
        }

        @include mq-min('xxxl') {

            &:nth-of-type(1) {
                left: 50%;
                right: auto;
            }

            &:nth-of-type(2) {
                left: auto;
                right: 50%;
            }
        }
    }
}

section {
    border: $section-border;
    border-radius: $section-border-radius;
    isolation: isolate;
    position: relative;
    max-width: $width-constraint;
    margin: 8rem auto;
    height: clamp(768px, calc(100vh - $body-padding * 2), calc(1024px - $body-padding));
    scroll-margin-top: $body-padding;

    @include mq-min('xxxl') {
        min-height: 768px;
        height: calc(100vh - $body-padding * 2);
    }

    @include mq-max('xxl') {
        height: clamp(580px, calc(100vh - $body-padding * 2), calc(768px - $body-padding));
    }

    @include mq-max('xl') {
        height: 820px;
    }

    @include mq-max('lg') {
        height: 768px;
    }

    @include mq-max('sm') {
        // border-width: 3px;
        // border-radius: 8px;
        height: 70rem;
        min-height: 420px;
        margin: $body-padding-small auto;
    }

    &:first-of-type {
        margin: 0 auto 4rem auto;
    }
}

.section-bg {
    border-radius: calc($section-border-radius / 4);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    user-select: none;
    pointer-events: none;
}

.section-title {
    padding-left: $section-inner-padding;
    padding-top: $section-inner-padding-small;
    font-size: min(10.6vw, 212px);
    text-transform: uppercase;
    filter: drop-shadow(0.2vw 0.2vw 0 $black);
    -webkit-text-stroke: 4px $black;
    color: $white;
    
    @include mq-min('xxl') {
        filter: drop-shadow(0.5rem 0.5rem 0 $black);
    }

    @include mq-max('lg') {
        font-size: 10vw;
        -webkit-text-stroke: 3px $black;
    }
    
    @include mq-max('md') {
        font-size: 14vw;
        -webkit-text-stroke: 2px $black;
        padding-left: $section-inner-padding-small;
        padding-top: calc($section-inner-padding-small / 1.5);
    }

    @include mq-max('sm') {
        line-height: 0%;
        font-size: 14.2vw;
        letter-spacing: 2px;
        filter: drop-shadow(2px 2px 0 $black);
        margin-bottom: 2rem;
    }

    p {
        overflow: hidden;
        display: inline-block;
        
        span {
            // font-family: 'Arimo', sans-serif;
            display: block;
            font-weight: 800;
        }
    }
}

.section-description {
    color: $black;
    font-size: max(20px, 2.8rem);
    font-weight: 400;
    margin-left: $section-inner-padding;

    @include mq-max('md') {
        margin-left: $section-inner-padding-small;
    }
}

.cta-1 {
    padding: 2rem 5.2rem;
    text-transform: uppercase;
    font-size: 2.8rem;
    background-color: $purplegrey;
    color: $white;
    border: 3px solid $black;
    border-radius: 4px;
    box-shadow: 3px 3px 0 $black;
    transition: 0.4s ease;

    &:hover,
    &:focus {
        scale: 1.025;
        rotate: 1deg;
    }
}

.cta-2 {
    @include row-center;
    position: relative;
    gap: 1rem;
    font-size: 2.4rem;
    text-transform: uppercase;

    @include mq-max('sm') {
        display: none;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 84%;
        height: 3px;
        background: $black;

        @include mq-max('md') {
            height: 2px;
        }
    }

    svg {
        width: 2.4rem;
        height: 2.4rem;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.large-screen-only {
    display: none;

    @include mq-max('lg') {
        display: block;
    }
}

.medium-screen-only {
    display: none;

    @include mq-max('md') {
        display: block;
    }
}

.small-screen-only {
    display: none;

    @include mq-max('sm') {
        display: block;
    }
}

.custom-cursor {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 20px;
    z-index: 25;
    pointer-events: none;
    // transition: 0.1s $cubic-ease-gentle;
    opacity: 0;
    transition: opacity 0.5s ease;

    &.active {
        opacity: 1;
    }

    @include mq-max('sm') {
        display: none;
    }
}

.page-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    @include row-center;
    display: none;

    &-status {
        font-size: min(6vw, 164px);
        font-weight: 900;
        text-transform: uppercase;
    }
}