$white: #fafafa;
$black: #313131;
$coral: #FF9973;
$purplegrey: #825E86;
$blue: #7EC1D4;
$green: #A4D1A2;
$yellow: #FBFAA2;
$grey: #D9D9D9;

$body-padding: 3.6rem;
$body-padding-small: calc($body-padding / 2);
$section-inner-padding: 4rem;
$section-inner-padding-small: calc($section-inner-padding / 2);

$cubic-ease: cubic-bezier(1,.2,0,.84);
$cubic-ease-title: cubic-bezier(.08,1.07,.76,1.16);
$cubic-ease-back: cubic-bezier(.12,.64,.61,1.15);
$cubic-ease-back-dramatic: cubic-bezier(.65,-0.5,.35,2.5);
$cubic-ease-gentle: cubic-bezier(0,0,0,1);
$cubic-in-out: cubic-bezier(.5,-0.25,.5,1.25);
// $cubic-sudden: cubic-bezier(.85,0,.15,1);

$width-constraint: 1920px;

$test: 1px dashed black;