@import './mixins';

$white: #fafafa;
$black: #232323;
$coral: #df5b40;
$blue: #7EC1D4;
$yellow: #FBE144;
$grey: #D9D9D9;

$body-padding: 4rem;
$body-padding-small: calc($body-padding / 2);
$section-inner-padding: 4rem;
$section-inner-padding-small: calc($section-inner-padding / 2);

$width-constraint: 1920px;

$test: 4px dotted black;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

html {
    font-size: 62.5%;

    @include mq-max('xxl') {
        font-size: 50%;
    }

    @include mq-max('xl') {
        font-size: 45%;
    }

    @include mq-max('lg') {
        font-size: 40%;
    }

    @include mq-max('sm') {
        font-size: 36%;
    }
}

a {
    cursor: pointer;
    color: $black;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}


.menu-btn-container {
    position: fixed;
    bottom: 0;
    right: 50%;
    translate: 50% 0;
    width: clamp(0px, 100vw, $width-constraint);
    display: flex;
    justify-content: flex-end;
    padding: 7.2rem 6rem;
    z-index: 5;
    display: none;
    
    .menu-btn {
        background: $black;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        color: $white;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 600;
        box-shadow: 4px 4px 8px rgba($black, 0.5);

        @include mq-max('sm') {
            bottom: 5.2rem;
            right: 2.8rem;
            width: 7.2rem;
            height: 7.2rem;
    }
}

}

body {
    background: $coral;
}

main {
    padding: $body-padding;

    @include mq-max('sm') {
        padding: $body-padding-small;
    }
}

section {
    isolation: isolate;
    position: relative;
    max-width: $width-constraint;
    margin: auto;
}

.hero {
    width: 100%;
    height: clamp(0px, 52vw, calc(1024px - $body-padding));

    @include mq-max('xxl') {
        height: clamp(560px, 49.5vw, calc(1024px - $body-padding));
    }

    @include mq-max('lg') {
        height: 560px;
    }

    @include mq-max('sm') {
        height: calc(100vh - calc($body-padding * 1.2));
        height: calc(100dvh - calc($body-padding * 1.2));
        min-height: 420px;
    }

    &-bg {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    h1 {
        margin-left: $section-inner-padding;
        font-size: min(11.5vw, 224px);
        font-weight: 900;
        text-transform: uppercase;
        filter: drop-shadow(0.4vw 0.4vw 0 rgba($black, 0.25));
        
        @include mq-max('lg') {
            font-size: 10.8vw;
        }
        
        @include mq-min('lg') {
            filter: drop-shadow(0.5rem 0.5rem 0 rgba($black, 0.25));
        }

        @include mq-max('md') {
            margin-left: $section-inner-padding-small;
            padding: 2rem 0;
        }

        @include mq-max('sm') {
            font-size: 16vw;
            line-height: 100%;
            letter-spacing: 2px;
            filter: drop-shadow(2px 2px 0 rgba($black, 0.25));
        }
    }

    h2 {
        text-transform: uppercase;
        font-size: max(20px, 6rem);
        text-align: justify;
        width: 72rem;
        margin-left: $section-inner-padding;
        padding-bottom: 2rem;

        @include mq-max('md') {
            margin-left: $section-inner-padding-small;
            font-size: 5rem;
            width: 60rem;
        }

        @include mq-max('sm') {
            font-size: 4rem;
            width: 30.8rem;
        }

        span {
            color: $coral;
        }
    }

    h3 {
        font-size: 2.4rem;
        margin-left: $section-inner-padding;
        font-weight: 600;

        @include mq-max('md') {
            margin-left: $section-inner-padding-small;
        }
    }

    &-btns {
        position: absolute;
        bottom: 4rem;
        left: $section-inner-padding;
        display: flex;
        gap: 2rem;

        @include mq-max('md') {
            left: $section-inner-padding-small;
        }

        .plans-btn {
            padding: 1rem 2rem;
            text-transform: uppercase;
            font-size: 2.4rem;
            background-color: $black;
            color: $white;
            box-shadow: 4px 4px 0 rgba($black, 0.25);

            &:hover {
                animation: cta-hover 2s linear infinite;
            }

            @keyframes cta-hover {
                10% {
                    background: $black;
                    color: $white;
                }
                25% {
                    background: $coral;
                    color: $black;
                }

                35% {
                    background: $coral;
                }
                50% {
                    background: $blue;
                }

                60% {
                    background: $blue;
                }
                75% {
                    background: $yellow;
                }

                85% {
                    background: $yellow;
                    color: $black;
                }
                100% {
                    background: $black;
                    color: $white;
                }
            }
        }
    
        .learn-btn {
            @include row-center;
            position: relative;
            gap: 1rem;
            font-size: 2.4rem;
            text-transform: uppercase;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 84%;
                height: 3px;
                background: $black;

                @include mq-max('md') {
                    height: 2px;
                }

                @include mq-max('sm') {
                    width: 80%;
                }
            }

            svg {
                width: 1.8rem;
                height: 1.8rem;

                @include mq-max('sm') {
                    width: 1.4rem;
                    height: 1.4rem;
                }
            }
        }
    }

    &-img {
        // border: $test;
        position: absolute;
        top: 50%;
        right: 6%;
        translate: 0 -24%;
        width: 64rem;
        height: 48rem;

        @include mq-max('xxl') {
            width: 56rem;
        }

        @include mq-max('md') {
            width: 36rem;
        }

        @include mq-max('sm') {
            width: 14rem;
            height: 32rem;
            right: 12%;
        }

        > * {
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
        }

        .graphic-person-1 {
            width: 30rem;
            translate: calc(-50% - 12rem) -50%;
            
            @include mq-max('sm') {
                width: 14rem;
                translate: calc(-50% - 6rem) -50%;
            }
        }
        
        .graphic-person-2 {
            width: 22rem;
            translate: calc(-50% + 12rem) -50%;
            
            @include mq-max('sm') {
                width: 12rem;
                translate: calc(-50% + 6rem) -50%;
            }
        }
        
        // .bubble {
        //     position: absolute;
        //     border-radius: 50%;
        //     border: 2px solid $black;
        // }

        // .bubble-1 {
        //     bottom: 0;
        //     background-color: $blue; 
        //     width: 12rem;
        //     height: 12rem;
        //     // z-index: 1;
        // }

        // .bubble-2 {
        //     background-color: $yellow;
        //     width: min(14vw, 24rem);
        //     height: min(14vw, 24rem);

        //     @include mq-max('sm') {
        //         width: 24vw;
        //         height: 24vw;
        //     }
        // }

        // .bubble-3 {
        //     bottom: 0;
        //     right: 80%;
        //     background-color: $grey;
        //     width: 2rem;
        //     height: 2rem;
        // }
    }
}

.perks {
    margin-top: 4rem;
    width: 100%;
    height: clamp(52rem, calc(100vh - 10rem), calc(1080px - $body-padding));

    &-bg {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    h2 {
        padding: 0 $section-inner-padding;
        font-size: min(11.5vw, 224px);
        text-align: left;
        text-transform: uppercase;
        color: $white;
        filter: drop-shadow(0.4vw 0.4vw 0 rgba($black, 0.25));  

        @include mq-max('lg') {
            filter: drop-shadow(0.5rem 0.5rem 0 rgba($black, 0.25));
        }
    }

    h3 {
        font-size: 2rem;
        font-weight: 600;
        padding: 3rem 0 0 4rem;
        width: 30%;

        @include mq-max('lg') {
            width: 70%;
        }
    }

    &-columns {
        display: flex;
        flex-direction: row;
        padding: 8rem 0 0 4rem;
        gap: 100px;

        p {
            font-size: 2.6rem;
            padding: 1rem 0;
            border-bottom: 2px solid $black;
        }

        .column-1 {
            width: 30%;

            @include mq-max('lg') {
                width: 70%;
            }
        }

        .column-2 {
            width: 30%;

            @include mq-max('lg') {
                width: 70%;
            }
        }

        @include mq-max('lg') {
            flex-direction: column;
            gap: 0;
        }
    }

    &-btns {
        display: flex;
        padding: 6rem 0 0 4rem;
        gap: 2rem;

        .plans-btn {
            padding: 1rem;
            text-transform: uppercase;
            font-size: 2.4rem;
            background-color: $black;
            color: $white;
            filter: drop-shadow(0.2vw 0.2vw 0 rgba($black, 0.25)); 
        }
    
        .work-btn {
            display: flex;
            gap: 1rem;

            button {
                background: none;
                border: none;
                border-bottom: 2.8px solid $black;
                text-transform: uppercase;
                font-size: 2.4rem;
            }

            img {
                width: 22px;
            }
        }
    }
    
    .perks-person {
        position: absolute;
        top: 21%;
        right: 6%;
        width: clamp(0px, 28%, 28rem);

        img {
            width: 100%;
        }

        .top-heart {
            position: absolute;
            top: -8%;
            right: 76%;
            transform: rotate(-10deg);
            width: 22%;
        }

        .bottom-heart {
            position: absolute;
            top: 0%;
            right: 4%;
            transform: rotate(10deg);
            width: 22%;
        }

    }
}