@import './mixins',
'./variables',
'./globals',
'./animations';

.hero {
    scroll-margin-top: 0;
    transition: scale 0.6s ease;

    // &-bg {
        // See ".section-bg" in _globals.scss
    // }

    .section-title,
    &-title {
        // See _globals.scss for complete styles
        // Feel free to make any unique style changes here though
        color: $purplegrey;
    
        &.active {
            p {
                @for $i from 1 through 12 {
                    &:nth-of-type(#{$i}) {
                        span {
                        animation: title-text (0.2s + 0.05s * $i) $cubic-ease-title (0.75s + 0.05s * ($i - 1)) forwards; // With inital 1s delay
                        // animation: title-text (0.2s + 0.05s * $i) $cubic-ease-title (0.05s * ($i - 1)) forwards; // No delay
                        }
                    }
                }
            }
        }
    
        p {
    
            span {
                translate: 0 100%;
            }
            
            &:nth-of-type(odd) {
                span {
                    translate: 0 -100%;
                }
            }
        }
    
        @keyframes title-text {
            to {
                translate: 0 0;
            }
        }
    }

    &-sub-title {
        color: $black;
        text-transform: uppercase;
        font-size: max(20px, 6rem);
        font-weight: 800;
        text-align: justify;
        width: 79rem;
        margin-left: $section-inner-padding;
        padding: 0 0 2rem;
        opacity: 0;
        transition: opacity 0.5s ease 1.6s;

        &.active {
            opacity: 1;
            pointer-events: all;
        }

        @include mq-max('md') {
            margin-left: $section-inner-padding-small;
            font-size: 4.8rem;
            width: 64rem;
            padding: 2rem 0 4rem;
        }

        @include mq-max('sm') {
            padding: 0 0 2rem;
            font-size: 4.2rem;
            width: 35.4rem;
        }

        span {
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 2px $black;
            background-clip: text;
            -webkit-background-clip: text;
            background-repeat: no-repeat;
            transition: 0.4s cubic-bezier(.6,-0.06,.33,1.31);
            -webkit-transition: 0.4s cubic-bezier(.6,-0.06,.33,1.31);

            @include mq-max('md') {
                -webkit-text-stroke-width: 1px;
            }
        }

        // Individual Words
        .web {
            background-image: linear-gradient(270deg, $black 0%, $black 50%, transparent 50.1%);
            background-position: right;

            &-1 {
                animation: hero-sub-text 6s $cubic-ease-title 1.2s infinite alternate;
            }
            &-2 {
                animation: hero-sub-text-2 6.2s $cubic-ease-title 1s infinite alternate;
            }
        }
        .site {
            background-image: linear-gradient(90deg, $black 0%, $black 50%, transparent 50.1%);
            background-position: left;

            &-1 {
                animation: hero-sub-text-2 6s $cubic-ease-title 1.2s infinite alternate;
            }
            &-2 {
                animation: hero-sub-text 6.2s $cubic-ease-title 1s infinite alternate;
            }
        }
    }

    &-description {
        // See ".section-description" in _globals.scss
        // @include appear(0.5s, 1.6s);
        opacity: 0;
        transition: opacity 0.5s ease 1.6s;

        &.active {
            opacity: 1;
            pointer-events: all;
        }
    }

    &-btns {
        position: absolute;
        bottom: 4rem;
        left: $section-inner-padding;
        display: flex;
        gap: 2rem;
        // @include appear(0.5s, 2s);
        opacity: 0;
        transition: opacity 0.5s ease 2s;

        &.active {
            opacity: 1;
            pointer-events: all;
        }

        @include mq-max('md') {
            left: $section-inner-padding-small;
            bottom: $body-padding-small;
        }

        // .plans-btn {
        //     // See _globals.scss for cta styles
        // }
    
        // .learn-btn {
        //     // See _globals.scss for cta styles
        // }
    }

    &-img {
        // border: $test;
        position: absolute;
        top: 50%;
        right: 6%;
        translate: 0 -24%;
        width: 64rem;
        height: 48rem;

        @include mq-max('xxl') {
            width: 56rem;
        }

        @include mq-max('md') {
            width: 36rem;
        }

        @include mq-max('sm') {
            translate: 0 -20%;
            width: 14rem;
            height: 32rem;
            right: 18%;
        }

        > * {
            @include absolute-center;
        }

        .graphic-person-1 {
            width: 30rem;
            translate: calc(-50% - 10.6rem) -50%;
            opacity: 0;
            z-index: 2;
            transition: 1s cubic-bezier(0,0,.2,1.25), opacity 0.5s ease 1.6s;
    
            &.active {
                opacity: 1;
                pointer-events: all;
            }

            
            @include mq-max('md') {
                width: 24rem;
                translate: calc(-50% - 8.8rem) -50%;
            }

            @include mq-max('sm') {
                width: 14rem;
                translate: calc(-50% - 5.2rem) -50%;
            }
        }
        
        .graphic-person-2 {
            width: 22rem;
            translate: calc(-50% + 10.6rem) -50%;
            opacity: 0;
            z-index: 2;
            transition: 1s cubic-bezier(0,0,.2,1.25), opacity 0.5s ease 1.6s;
    
            &.active {
                opacity: 1;
                pointer-events: all;
            }
            
            @include mq-max('md') {
                width: 18rem;
                translate: calc(-50% + 8.8rem) -50%;
            }

            @include mq-max('sm') {
                width: 12rem;
                translate: calc(-50% + 5.2rem) -50%;
            }
        }
        
        .bubble {
            // See _globals.css for .bubble styles
            scale: 0.6;
            transition: 0.5s $cubic-ease-gentle;
 
            @include mq-max('sm') {
                transition: none;
            }
        }

        .bubble-1 {
            background-color: $blue; 
            width: 20rem;
            height: 20rem;
            translate: -100% -10%;
            z-index: 1;
            opacity: 0;

            &.active {
                animation: scale 0.6s $cubic-ease-back 0.7s forwards;
            }

            @include mq-max('md') {
                width: 14rem;
                height: 14rem;
            }

            @include mq-max('sm') {
                width: 9.2rem;
                height: 9.2rem;
            }
        }

        .bubble-2 {
            background-color: $yellow; 
            width: 30rem;
            height: 30rem;
            translate: -45% -75%;
            // @include scale(0.75s, 0.8s);
            opacity: 0;

            &.active {
                animation: scale 0.75s $cubic-ease-back 0.8s forwards;
            }

            @include mq-max('md') {
                width: 20rem;
                height: 20rem;
            }

            @include mq-max('sm') {
                width: 14rem;
                height: 14rem;
            }
        }

        .bubble-3 {
            background-color: $coral; 
            width: 20rem;
            height: 20rem;
            translate: 22% -25%;
            z-index: -1;
            // @include scale(0.9s, 0.9s);
            opacity: 0;

            &.active {
                animation: scale 0.9s $cubic-ease-back 0.9s forwards;
            }

            @include mq-max('md') {
                width: 14rem;
                height: 14rem;
            }

            @include mq-max('sm') {
                width: 9.2rem;
                height: 9.2rem;
            }
        }
    }
}

.work {
    position: relative;
    height: unset;
    border: none;
    box-shadow: none;
    display: none;

    @include mq-min('sm') {
        @include appear(0.6s, 0.2s);
    }

    &-title {
        // See _global.scss for full styles
        color: $white;
        margin-left: unset;
        overflow: hidden;
        
        // @include mq-min('md') {
        //     margin-left: unset;
        // }
        
        .word-wrapper {
            height: min(12vw, 22rem);
            
            @include mq-max('md') {
                display: inline;
            }
        }
    }

    .work-item {
        position: absolute;
        top: 50%;
        right: 0;
        width: 48rem;
        height: 36rem;
        background: $black;
        z-index: -1;

        @include mq-max('sm') {
            width: 32rem;
            height: 24rem;
            translate: 0 0;
        }
        
        &-1,
        &-2,
        &-3 {
            translate: 0 -132%;

            @include mq-max('xxl') {
                translate: 0 -120%;
            }
    
            @include mq-max('md') {
                translate: 0 46%;
            }
        }

        &-4,
        &-5,
        &-6 {
            translate: 0 -20%;

            @include mq-max('xxl') {
                translate: 0 -8%;
            }
    
            @include mq-max('md') {
                translate: 0 0;
            }
        }

        img {
            height: 100%;
            object-fit: cover;
        }

        figcaption {
            color: $white;
        }
    }

    // &-wrapper {
    //     border: $test;
    //     position: absolute;
    //     top: 50%;
    //     right: 0;
    //     translate: 0 -46%;
    //     display: flex;
    //     gap: 24px;

    //     .work-item {
    //         width: 48rem;
    //         height: 36rem;
    //         background: $black;

    //         img {
    //             height: 100%;
    //             object-fit: cover;
    //         }

    //         figcaption {
    //             color: $white;
    //         }
    //     }
    // }
}

.perks {

    // &-bg {
        // See ".section-bg" in _globals.scss
    // }

    &-title {
        // See ".section-title" _globals.scss
        color: $coral;
    }

    // h3 {
        // See ".section-description" in _globals.scss
    // }

    &-columns {
        // border: $test;
        display: flex;
        flex-direction: row;
        padding-left: $body-padding;
        gap: 6rem;
        margin: 2rem 0 6rem;
        
        @include mq-max('md') {
            padding-left: $body-padding-small;      
            flex-direction: column;
            gap: 0;
        }
        
        @include mq-max('sm') {
            margin: 0 0 2rem;
        }

        ul {
            list-style: none;
            // list-style-type: "\26AC";
            // list-style-position: inside;
        }

        li {
            position: relative;
            font-size: max(24px, 3.2rem);
            font-weight: 400;
            padding: 1rem 0;
            margin-bottom: 1rem;
            color: transparent;
            translate: -12px 0;
            // transition: 0.25s ease 0.4s;
            transition: 0.25s ease;

            @include mq-max('md') {
                font-size: 2.8rem;
                margin-bottom: 0;
            }

            &::before {
                // Note: Not all icons translate well across devices 
                // Visit: https://www.toptal.com/designers/htmlarrows/symbols/
                content: "\2710"; // Pencil
                margin-right: 12px;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 4px;
                border-radius: 1px;
                background-color: $black;
                // transition: 0.25s ease 0.4s;
                transition: 0.25s ease;

                @include mq-max('md') {
                    height: 2px;
                }
            }

            &:nth-of-type(2) {
                // transition-delay: 0.3s;
                transition-delay: 0.1s;

                &::after {
                    // transition-delay: 0.3s;
                    transition-delay: 0.1s;
                }
            }

            &:nth-of-type(3) {
                transition-delay: 0.2s;

                &::after {
                    transition-delay: 0.2s;
                }
            }

            &:nth-of-type(4) {
                // transition-delay: 0.1s;
                transition-delay: 0.3s;

                &::after {
                    // transition-delay: 0.1s;
                    transition-delay: 0.3s;
                }
            }
        }

        .column {
            width: 30%;

            @include mq-max('xl') {
                width: 32%;
            }
            
            @include mq-max('lg') {
                width: 40%;
            }

            @include mq-max('md') {
                width: max(64rem, 64%);
            }

            @include mq-max('sm') {
                width: calc(100% - $body-padding-small);
            }
        }

        .column-2 {
            
            @include mq-max('md') {
            
                li {
                    transition-delay: 0.4s;
                    
                    &::after {
                        transition-delay: 0.4s;
                    }

                    &:nth-of-type(2) {
                        transition-delay: 0.5s;
        
                        &::after {
                            transition-delay: 0.5s;
                        }
                    }

                    &:nth-of-type(3) {
                        transition-delay: 0.6s;
        
                        &::after {
                            transition-delay: 0.6s;
                        }
                    }

                    &:nth-of-type(4) {
                        transition-delay: 0.7s;
        
                        &::after {
                            transition-delay: 0.7s;
                        }
                    }
                }
            }
        }

        &.active {

            li {
                color: $black;
                translate: 0 0;

                &::after {
                    width: 100%;
                }
            }
        }
    }

    &-btns {
        position: absolute;
        bottom: 4rem;
        left: $section-inner-padding;
        display: flex;
        gap: 2rem;

        @include mq-max('md') {
            left: $body-padding-small;
            bottom: $body-padding-small;
        }

        .plans-btn-perks {
            // See _globals.scss for cta styles
            background-color: $coral;
            translate: 0 4rem;
            opacity: 0;
            pointer-events: none;
            transition: scale 0.4s ease, 
                rotate 0.4s ease, 
                translate 0.75s $cubic-ease-back-dramatic,
                opacity 0.24s ease 0.26s;

            &.active {
                translate: 0 0;
                opacity: 1;
                pointer-events: all;
                transition: scale 0.4s ease, 
                    rotate 0.4s ease, 
                    translate 0.75s $cubic-ease-back-dramatic,
                    opacity 0.24s ease 0.2s;
            }
        }

        // .work-btn-perks {
        //     // See _globals.scss for cta styles
        // }
    }
    
    &-img {
        isolation: isolate;
        position: absolute;
        bottom: 6%;
        right: 6%;
        width: clamp(0px, 28%, 28rem);
        
        @include mq-max('lg') {
            bottom: -5%;
            right: 10%;
            width: max(23rem, 18%);
        }

        @include mq-max('md') {
            bottom: 18%;
            right: 2%;
        }

        @include mq-max('sm') {
            bottom: 58%;
            width: 12rem;
        }

        // .graphic-person-3 {
        //     z-index: 0;
        // }

        .bubble-1 {
            background-color: $yellow; 
            width: 16rem;
            height: 16rem;
            translate: -68% -28%;
            z-index: -1;
            // opacity: 0;

            // &.active {
            //     animation: scale 0.6s $cubic-ease-back 0.7s forwards;
            // }

            @include mq-max('md') {
                width: 10rem;
                height: 10rem;
            }

            @include mq-max('sm') {
                width: 5.6rem;
                height: 5.6rem;
            }
        }
        .bubble-2 {
            background-color: $grey; 
            width: 20rem;
            height: 20rem;
            translate: -20% -80%;
            z-index: -2;
            // opacity: 0;

            // &.active {
            //     animation: scale 0.6s $cubic-ease-back 0.7s forwards;
            // }

            @include mq-max('md') {
                width: 10rem;
                height: 10rem;
            }

            @include mq-max('sm') {
                width: 5.6rem;
                height: 5.6rem;
            }
        }
    }
}

.membership {
    height: unset;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: unset auto;
    
    @include mq-max('md') {
        align-items: flex-start;
    }

    // &-bg {
        // See ".section-bg" in _globals.scss
    // }

    &-title {
        // See ".section-title" _globals.scss
        color: $blue;
        padding-left: unset;
        width: 84.6%;

        @include mq-max('md') {
            font-size: 11.6vw;
            width: 100%;
            padding-left: $body-padding-small;
        }

        @include mq-max('sm') {
            width: 100%;
            font-size: 11.4vw;
        }
    }

    .section-description {
        margin-bottom: 4rem;
        width: 84%;

        @include mq-max('md') {
            margin-top: 2rem;
        }
    }

    &-options {
        display: flex;
        align-items: stretch;
        width: 84%;
        gap: 2rem;
        padding-right: $body-padding;
        margin-bottom: calc($body-padding + 2rem);
        
        @include mq-max('xxl') {
            margin-bottom: $body-padding;
        }

        @include mq-max('md') {
            flex-direction: column;
            padding-right: unset;
            padding-left: $body-padding-small;
        }
        @include mq-max('sm') {
            width: 100%;
        }
    }

    &-card {
        position: relative;
        border: 4px solid $black;
        background: $white;
        padding: $body-padding-small;
        width: 56rem;
        border-radius: 6px;
        box-shadow: 0.4rem 0.4rem 0 $black;
        
        @include mq-max('md') {
            width: max(66rem, 92%);
            // overflow: hidden;
        }

        @include mq-max('sm') {
            width: calc(100% - $body-padding-small);
        }

        // & * {
        //     color: $white;
        // }

        h3 {
            font-size: max(0px, 6.4rem);
            font-weight: 700;
            text-transform: uppercase;
        }

        hr {
            height: 6px;
            background: $black;
            border: none;
            margin: $body-padding-small 0 2rem;
        }

        h4 {
            font-size: max(0px, 4.8rem);
            font-weight: 400;
            margin-bottom: 4rem;
            
            span {
                font-size: 13px;
                opacity: 0.5;
            }
        }

        h5 {
            font-size: max(0px, 2.8rem);
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }

        ul {
            padding-left: 2.4rem;
            margin-bottom: 6rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            li {
                color: $black;
                position: relative;
                font-size: max(14px, 2rem);
                margin-bottom: 1rem;
                
                @include mq-max('sm') {
                    padding: 0.2rem;
                }

                &:nth-of-type(3),
                &:nth-of-type(4) {

                    .tooltip {
                        @include mq-max('sm') {
                            width: 106%;
                        }
                    }
                }

                &:nth-of-type(5) {

                    .tooltip {
                        @include mq-max('sm') {
                            width: 70%;
                        }
                    }
                }
            }

            .tooltip-indicator {
                vertical-align: middle;
                margin-left: 0.4rem;
                width: 2rem;
                height: 2rem;
                // cursor: help;

                &:hover ~ .tooltip,
                &:focus ~ .tooltip {
                    opacity: 1;
                    pointer-events: all;
                }

                @include mq-max('sm') {
                    width: 1.8rem;
                    height: 1.8rem;
                }

                svg {
                    width: 2rem;
                    height: 2rem;

                    @include mq-max('sm') {
                        width: 1.6rem;
                        height: 1.6rem;
                    }

                    path {
                        fill: $black;
                    }
                }
            }

            .tooltip {
                position: absolute;
                top: 0;
                right: 0;
                translate: calc(100% - 4px) calc(-100% + 4px);
                background: $black;
                color: $white;
                font-size: 14px;
                line-height: 140%;
                // translate: 100% -100%;
                padding: 1.2rem;
                border-radius: 0.4rem;
                opacity: 0;
                pointer-events: none;
                transition: 0.3s ease;
                z-index: 3;
                width: 24rem;
                
                &:hover,
                &:focus-within {
                    opacity: 1;
                    pointer-events: all;
                }

                @include mq-max('lg') {
                    width: 18rem;
                }

                @include mq-max('md') {
                    width: 28rem;
                }

                @include mq-max('sm') {
                    width: 64%;
                }

                a {
                    color: $white;
                    text-decoration: underline;
                }
            }
        }

        .card-btns {
            display: flex;
            gap: 2rem;

            .cta-1 {
                padding: 2rem 4rem;
                background-color: $blue;
            }
        }
    }

    .ribbon {
        position: absolute;
        top: 5.6%;
        right: 5%;
        rotate: 12deg;
        width: 12rem;
        z-index: 1;

        @include mq-max('xl') {
            right: 2%;
        }

        @include mq-max('md') {
            right: 22%;
        }

        @include mq-max('sm') {
            right: -2%;
            top: -6%;
            width: 9.6rem;
        }

        svg {
            @include absolute-center;
        }
        
        figcaption {
            @include absolute-center;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;

            @include mq-max('xl') {
                font-size: 10px;
            }
        }
    }

    .membership-person {
        // border: $test;
        position: absolute;
        bottom: 8%;
        left: 2%;
        width: clamp(8rem, 12%, 20rem);
        z-index: 2;
        
        @include mq-max('md') {
            bottom: auto;
            left: auto;
            top: 8%;
            right: 4%;
            transform: scaleX(-1);
            width: 16%;
        }

        @include mq-max('sm') {
            top: 37%;
            width: 20%;
        }
    }
}

.questions {
    height: unset;

    // &-title {
        // See ".section-title" in _globals.scss
        // Feel free to make unique style changes here though.
    // }

    .questions-details {
        display: flex;
        position: relative;
        
        @include mq-max('md') {
            padding-bottom: 34rem;
        }
        
        @include mq-max('sm') {
            padding-bottom: 30rem;
        }

        button {
            color: $black;
        }

        .questions-content {
            padding: 4rem 0 4rem $body-padding;
            width: max(78rem, 46%);
            color: black;

            @include mq-max('md') {
                width: 90%;
            }

            .faq-item {
                transition: 0.3s ease;
                height: 6rem;
                margin-bottom: 1rem;
                border-bottom: 2px solid $black;

                // 5 lines - 6 lines
                &-xl {
                    &.active {
                        height: 24rem;
                    }
                }

                // 3 lines - 4 lines
                &-lg {
                    &.active {
                        height: 20rem;
                    }
                }

                // 3 lines
                &-md {
                    &.active {
                        height: 18rem;
                    }
                }

                // 2 lines
                &-sm {
                    &.active {
                        height: 14rem;
                    }
                }

                // 1 line
                &-xs {
                    &.active {
                        height: 12rem;
                    }
                }
            }
    
            .question {
                font-size: 2.4rem;
                width: 100%;
                text-align: left;
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 2rem 0;

                &-indicator {
                    font-weight: 700;
                    width: 2.8rem;
                }
    
                h3 {
                    font-size: 2.4rem;
                    font-weight: 500;
                    flex-grow: 1;
                }
                
                .angle-arrow {
                    width: 2.6rem;
                    transition: 0.3s $cubic-ease-back;

                    &.active {
                        rotate: 180deg;
                    }
                }    
            }
    
            .answer {
                display: flex;
                gap: 1.2rem;
                opacity: 0;
                pointer-events: none;
                translate: 0 -16px;
                font-size: 2rem;
                padding-bottom: 2rem;
                transition: 0.2s ease 0s;
                
                &.active {
                    opacity: 1;
                    pointer-events: all;
                    translate: 0 0;
                    transition: 0.3s ease 0.12s;
                }

                &-indicator {
                    font-size: 2.4rem;
                    display: inline-block;
                    font-weight: 700;
                    width: 4rem;
                }

                p {
                    vertical-align: middle;
                    line-height: 150%;
                }

                .page-link {
                    text-decoration: underline;
                }
            }
        }
    
        .questions-person {
            position: absolute;
            top: 10%;
            right: 24%;

            @include mq-max('md') {
                top: auto;
                bottom: 2%;
                right: auto;
                left: 8%;
            }

            @include mq-max('sm') {
                bottom: 6%;
            }

            img {
                width: 24rem;

                @include mq-max('md') {
                    width: 18rem;
                }

                @include mq-max('sm') {
                    width: 14rem;
                }
            }
        }

        .questions-cta {
            position: absolute;
            top: 48%;
            right: 10%;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            @include mq-max('md') {
                top: auto;
                bottom: 10%;
                right: 14%;
            }

            @include mq-max('sm') {
                right: 2%;
            }
 
            p {
                font-size: 2.4rem;
                line-height: 3rem;
                color: black;
                text-transform: uppercase;
                
                @include mq-max(sm) {
                    font-size: 3rem;
                }
            }
        }
    }
}

.pre-footer {
    padding: $body-padding-small $body-padding-small 12rem;
    height: unset;
    border: none;
    box-shadow: none;

    &-brands {
        @include row-center;
        gap: 8rem;
        margin-bottom: 8rem;
        
        @include mq-max('xl') {
            gap: 4rem;
        }

        @include mq-max('md') {
            gap: 2rem;
        }

        @include mq-max('sm') {
            flex-wrap: wrap;
            margin-bottom: 4rem;
        }
        
        img {
            width: 18rem;
            
            @include mq-max('md') {
                width: 14rem;
            }

            @include mq-max('sm') {
                width: 10rem;
            }
        }
    }

    &-main {
        @include column-center;
        justify-content: center;
        gap: 6rem;
        
        @include mq-max('sm') {
            gap: 4rem;
        }

        h2 {
            color: $white;
            -webkit-text-stroke: 3px $black;
            font-size: 10.9rem;
            font-weight: 900;
            line-height: normal;
            text-transform: uppercase;
            filter: drop-shadow(3px 3px 0 $black);
            text-align: justify;
            width: 93.3rem;
            
            @include mq-max('lg') {
                font-size: 8rem;
                width: 64rem;
                filter: drop-shadow(3px 3px 0 $black);
            }

            @include mq-max('sm') {
                font-size: 7.2rem;
                width: 35.4rem;
                filter: drop-shadow(3px 3px 0 $black);
            }
        }

        p {
            color: $white;
            font-size: max(16px, 2.4rem);
            width: 40rem;
            text-align: center;
            
            @include mq-max('lg') {
                width: 48rem;
            }

            @include mq-max('sm') {
                width: 86%;
            }
        }

        a {
            border: 3px solid $black;
            border-radius: 6px;
            background: $yellow;
            padding: 4rem 8rem;
            color: $black;
            font-size: 4rem;
            font-weight: 800;
            text-transform: uppercase;
            box-shadow: 4px 4px 0 $black;

            @include mq-max('lg') {
                padding: 3.2rem 4rem;
                font-size: 3.2rem;
            }

            @include mq-max('sm') {
                padding: 2.8rem 3.6rem;
                font-size: 2.8rem;
            }
        }
    }

    figure {
        // border: $test;
        position: absolute;
        top: 50%;
        translate: 0 -50%;
        width: min(12vw, 22rem);
        z-index: -1;
        
        @include mq-max('xxl') {
            width: 10vw;
        }

        @include mq-max('md') {
            top: 70%;
        }

        @include mq-max('sm') {
            top: 80%;
            scale: 1.25;
        }

        .bubble {
            z-index: -1;
        }
    }

    &-person-1 { 
        left: $body-padding;
        
        @include mq-max('md') {
            left: $body-padding-small;
        }

        .bubble-1 {
            background: $blue;
            width: min(14vw, 27rem);
            height: min(14vw, 27rem);
            translate: -44% -80%;

            @include mq-max('xxl') {
                width: 12vw;
                height: 12vw;
            }
            
        }

        .bubble-2 {
            background: $yellow;
            width: min(9.4vw, 18rem);
            height: min(9.4vw, 18rem);
            translate: -88% 0;

            @include mq-max('xxl') {
                width: 7.4vw;
                height: 7.4vw;
            }
            
        }

        .bubble-3 {
            background: $grey;
            width: min(9.4vw, 18rem);
            height: min(9.4vw, 18rem);
            translate: 16% -20%;

            @include mq-max('xxl') {
                width: 7.4vw;
                height: 7.4vw;
            }
            
        }
    }

    &-person-2 {
        right: $body-padding;
        
        @include mq-max('md') {
            right: $body-padding-small;
        }

        img {
            width: 120%;
            translate: -5%;
        }

        .bubble-1 {
            background: $purplegrey;
            width: min(14vw, 28rem);
            height: min(14vw, 28rem);
            translate: -60% -20%;

            @include mq-max('xxl') {
                width: 12vw;
                height: 12vw;
            }
        }

        .bubble-2 {
            background: $blue;
            width: min(10vw, 18rem);
            height: min(10vw, 18rem);
            translate: -12% -100%;

            @include mq-max('xxl') {
                width: 8vw;
                height: 8vw;
            }
        }
    }
}

.footer {
    position: relative;
    @include row-between;
    max-width: $width-constraint;
    margin: auto;
    padding: $body-padding;

    @include mq-max('md') {
        flex-direction: column;
        gap: 20rem;
    }
    
    @include mq-max('sm') {
        padding: $body-padding-small;
        padding-bottom: $body-padding;
        gap: unset;
    }

    // .location {
    //     font-size: max(12px, 2rem);
    //     position: relative;
    //     color: $white;
    //     line-height: normal;

    //     @include mq-max('md') {
    //         position: absolute;
    //         right: 4rem;
    //     }

    //     @include mq-max('md') {
    //         font-size: 10px;
    //         right: 1.2rem;
    //     }

    //     svg {
    //         position: absolute;
    //         top: 0;
    //         right: 0;
    //         translate: 64% -26%;
    //         width: max(24px, 4.4rem);
            
    //         @include mq-max('xxl') {
    //             translate: 64% -30%;
    //         }

    //         @include mq-max('lg') {
    //             translate: 64% -34%;
    //         }
            
    //         @include mq-max('sm') {
    //             translate: 56% -34%;
    //             scale: 0.6;
    //         }
    //     }
    // }

    .social-icons {
        display: flex;
        gap: 2rem;

        @include mq-max('md') {
            position: absolute;
            right: 0;
        }

        @include mq-max('sm') {
            gap: 1rem;
        }

        a {
            transition: 0.4s $cubic-ease-back;

            &:hover {
                scale: 1.2;
                rotate: 5deg;
            }
        }

        img {
            width: 4rem;

            @include mq-max('sm') {
                width: 2.8rem;
            }
        }
    }

    &-logo {
        @include absolute-center;
        width: 20rem;

        @include mq-max('md') {
            width: 16rem;
            top: unset;
            left: unset;
            bottom: 0;
            right: 0;
            translate: unset;
        }

        @include mq-max('sm') {
            width: 10rem;
            bottom: $body-padding;
        }
    }

    &-nav {
        display: flex;
        justify-content: space-between;
        gap: 4rem;

        @include mq-max('md') {
            justify-content: flex-start;
            width: calc(100% - 4rem);
        }
 
        @include mq-max('sm') {
            width: 100%;
            gap: 2rem;
        }

        &-group {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            @include mq-max('md') {
                gap: 2rem;
            }

            @include mq-max('sm') {
                gap: 1.2rem;
            }

        }

        a {
            color: $white;
            font-size: max(12px, 2rem);
            font-weight: 300;
            text-transform: uppercase;
        }
    }
}