@import './mixins',
'./variables',
'./globals',
'./animations';

.hero {
    scroll-margin-top: 0;
    transition: scale 0.6s ease;

    // &-bg {
        // See ".section-bg" in _globals.scss
    // }

    .section-title,
    &-title {
        // See _globals.scss for complete styles
        // Feel free to make any unique style changes here though
        color: $purplegrey;
    
        &.active {
            p {
                @for $i from 1 through 12 {
                    &:nth-of-type(#{$i}) {
                        span {
                        animation: title-text (0.2s + 0.05s * $i) $cubic-ease-title (0.75s + 0.05s * ($i - 1)) forwards; // With inital 1s delay
                        // animation: title-text (0.2s + 0.05s * $i) $cubic-ease-title (0.05s * ($i - 1)) forwards; // No delay
                        }
                    }
                }
            }
        }
    
        p {
    
            span {
                translate: 0 100%;
            }
            
            &:nth-of-type(odd) {
                span {
                    translate: 0 -100%;
                }
            }
        }
    
        @keyframes title-text {
            to {
                translate: 0 0;
            }
        }
    }

    &-sub-title {
        color: $black;
        text-transform: uppercase;
        font-size: max(20px, 6rem);
        font-weight: 800;
        text-align: justify;
        width: 79rem;
        margin-left: $section-inner-padding;
        padding: 0 0 2rem;
        translate: -24px 0;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s ease 0.6s, translate 0.4s $cubic-ease-back-dramatic 0.6s;

        &.active {
            translate: 0 0;
            opacity: 1;
            pointer-events: all;
        }

        @include mq-max('md') {
            margin-left: $section-inner-padding-small;
            font-size: 4.8rem;
            width: 64rem;
            padding: 2rem 0 4rem;
        }

        @include mq-max('sm') {
            padding: 0 0 2rem;
            font-size: 4.2rem;
            width: 35.4rem;
        }

        span {
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 2px $black;
            background-clip: text;
            -webkit-background-clip: text;
            background-repeat: no-repeat;
            transition: background 0.4s cubic-bezier(.6,-0.06,.33,1.31);
            -webkit-transition: background 0.4s cubic-bezier(.6,-0.06,.33,1.31);

            @include mq-max('md') {
                -webkit-text-stroke-width: 1px;
            }
        }

        // Individual Words
        .web {
            background-image: linear-gradient(270deg, $black 0%, $black 50%, transparent 50.1%);
            background-position: right;

            &-1 {
                animation: hero-sub-text 6s $cubic-ease-title 1.2s infinite alternate;
            }
            &-2 {
                animation: hero-sub-text-2 6.2s $cubic-ease-title 1s infinite alternate;
            }
        }
        .site {
            background-image: linear-gradient(90deg, $black 0%, $black 50%, transparent 50.1%);
            background-position: left;

            &-1 {
                animation: hero-sub-text-2 6s $cubic-ease-title 1.2s infinite alternate;
            }
            &-2 {
                animation: hero-sub-text 6.2s $cubic-ease-title 1s infinite alternate;
            }
        }
    }

    &-description {
        // See ".section-description" in _globals.scss
        translate: -24px 0;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s ease 0.7s, translate 0.4s $cubic-ease-back-dramatic 0.7s;

        &.active {
            translate: 0 0;
            opacity: 1;
            pointer-events: all;
        }
    }

    &-btns {
        position: absolute;
        bottom: 4rem;
        left: $section-inner-padding;
        display: flex;
        gap: 2rem;

        @include mq-max('md') {
            left: $section-inner-padding-small;
            bottom: $body-padding-small;
        }

        .hero-cta-1,
        .hero-cta-2 {
            // See _globals.scss for cta styles
            translate: 0 4rem;
            opacity: 0;
            pointer-events: none;
            transition: scale 0.4s ease, 
                rotate 0.4s ease, 
                translate 0.6s $cubic-ease-back-dramatic 1.5s,
                opacity 0.24s ease 1.6s;

            &.active {
                translate: 0 0;
                opacity: 1;
                pointer-events: all;
            }
        }
    
        .hero-cta-2 {
            // See _globals.scss for cta styles
            transition: translate 0.6s $cubic-ease-back-dramatic 1.6s, opacity 0.24s ease 1.7s;
        }
    }

    &-img {
        // border: $test;
        position: absolute;
        top: 50%;
        right: 6%;
        translate: 0 -24%;
        width: 64rem;
        height: 48rem;

        @include mq-max('xxl') {
            width: 56rem;
        }

        @include mq-max('md') {
            width: 36rem;
            translate: 0 -16%;
        }

        @include mq-max('sm') {
            translate: 0 -20%;
            width: 14rem;
            height: 32rem;
            right: 18%;
        }

        > * {
            @include absolute-center;
        }

        .hero-peep-1 {
            width: 30rem;
            translate: calc(-50% - 10.6rem) -50%;
            opacity: 0;
            z-index: 2;
            transition: 1s cubic-bezier(0,0,.2,1.25), opacity 0.5s ease 1.6s;
    
            &.active {
                opacity: 1;
                pointer-events: all;
            }

            
            @include mq-max('md') {
                width: 24rem;
                translate: calc(-50% - 8.8rem) -50%;
            }

            @include mq-max('sm') {
                width: 14rem;
                translate: calc(-50% - 5.2rem) -50%;
            }
        }
        
        .hero-peep-2 {
            width: 22rem;
            translate: calc(-50% + 10.6rem) -50%;
            opacity: 0;
            z-index: 2;
            transition: 1s cubic-bezier(0,0,.2,1.25), opacity 0.5s ease 1.6s;
    
            &.active {
                opacity: 1;
                pointer-events: all;
            }
            
            @include mq-max('md') {
                width: 18rem;
                translate: calc(-50% + 8.8rem) -50%;
            }

            @include mq-max('sm') {
                width: 12rem;
                translate: calc(-50% + 5.2rem) -50%;
            }
        }
        
        // .bubble {
        //     // See _globals.css for .bubble styles
        // }

        .bubble-1 {
            background-color: $blue; 
            width: 20rem;
            height: 20rem;
            translate: -100% -10%;
            z-index: 1;
            opacity: 0;

            &.active {
                animation: scale 0.6s $cubic-ease-back 0.7s forwards;
            }

            @include mq-max('md') {
                width: 14rem;
                height: 14rem;
            }

            @include mq-max('sm') {
                width: 9.2rem;
                height: 9.2rem;
            }
        }

        .bubble-2 {
            background-color: $yellow; 
            width: 30rem;
            height: 30rem;
            translate: -45% -75%;
            // @include scale(0.75s, 0.8s);
            opacity: 0;

            &.active {
                animation: scale 0.75s $cubic-ease-back 0.8s forwards;
            }

            @include mq-max('md') {
                width: 20rem;
                height: 20rem;
            }

            @include mq-max('sm') {
                width: 14rem;
                height: 14rem;
            }
        }

        .bubble-3 {
            background-color: $green; 
            width: 20rem;
            height: 20rem;
            translate: 22% -25%;
            z-index: -1;
            // @include scale(0.9s, 0.9s);
            opacity: 0;

            &.active {
                animation: scale 0.9s $cubic-ease-back 0.9s forwards;
            }

            @include mq-max('md') {
                width: 14rem;
                height: 14rem;
            }

            @include mq-max('sm') {
                width: 9.2rem;
                height: 9.2rem;
            }
        }
    }
}

.work {
    position: relative;
    height: unset;
    border: none;
    box-shadow: none;

    @include mq-min('sm') {
        @include appear(0.6s, 0.2s);
    }

    &-title {
        // See _global.scss for full styles
        color: $white;
        margin-left: unset;
        overflow: hidden;
        
        // @include mq-min('md') {
        //     margin-left: unset;
        // }
        
        .word-wrapper {
            height: min(12vw, 22rem);
            
            @include mq-max('md') {
                display: inline;
            }
        }
    }

    .work-item {
        position: absolute;
        top: 50%;
        right: 0;
        width: 48rem;
        height: 36rem;
        background: $black;
        z-index: -1;

        @include mq-max('sm') {
            width: 32rem;
            height: 24rem;
            translate: 0 0;
        }
        
        &-1,
        &-2,
        &-3 {
            translate: 0 -132%;

            @include mq-max('xxl') {
                translate: 0 -120%;
            }
    
            @include mq-max('md') {
                translate: 0 46%;
            }
        }

        &-4,
        &-5,
        &-6 {
            translate: 0 -20%;

            @include mq-max('xxl') {
                translate: 0 -8%;
            }
    
            @include mq-max('md') {
                translate: 0 0;
            }
        }

        img {
            height: 100%;
            object-fit: cover;
        }

        figcaption {
            color: $white;
        }
    }
}

.perks {

    // &-bg {
        // See ".section-bg" in _globals.scss
    // }

    &-title {
        // See ".section-title" _globals.scss
        color: $coral;
    }

    // h3 {
        // See ".section-description" in _globals.scss
    // }

    &-columns {
        display: flex;
        flex-direction: row;
        gap: 6rem;
        margin: 2rem $section-inner-padding 6rem;
        
        @include mq-max('md') {
            flex-direction: column;
            gap: 0;
            margin-left: $section-inner-padding-small;
        }
        
        @include mq-max('sm') {
            margin: 0 0 2rem;
        }

        ul {
            list-style: none;
        }

        .column {
            width: 48rem;

            @include mq-max('xl') {
                width: 32%;
            }
            
            @include mq-max('lg') {
                width: 40%;
            }

            @include mq-max('md') {
                width: max(64rem, 64%);
            }

            @include mq-max('sm') {
                width: calc(100% - $body-padding-small);
            }
        }

        .column-2 {
            
            @include mq-max('md') {
            
                li {
                    transition-delay: 0.4s;
                    
                    &::after {
                        transition-delay: 0.4s;
                    }

                    &:nth-of-type(2) {
                        transition-delay: 0.5s;
        
                        &::after {
                            transition-delay: 0.5s;
                        }
                    }

                    &:nth-of-type(3) {
                        transition-delay: 0.6s;
        
                        &::after {
                            transition-delay: 0.6s;
                        }
                    }

                    &:nth-of-type(4) {
                        transition-delay: 0.7s;
        
                        &::after {
                            transition-delay: 0.7s;
                        }
                    }
                }
            }
        }

        li {
            position: relative;
            font-size: max(24px, 3.2rem);
            font-weight: 400;
            padding: 1rem 0;
            margin-bottom: 1rem;
            color: transparent;
            translate: -12px 0;
            transition: 0.25s ease;

            @include mq-max('xl') {
                font-size: 3rem;
            }
            @include mq-max('md') {
                margin-bottom: 0;
            }

            &::before {
                // Note: Not all icons translate well across devices 
                // Visit: https://www.toptal.com/designers/htmlarrows/symbols/
                content: "\2710"; // Pencil
                margin-right: 12px;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 4px;
                border-radius: 1px;
                background-color: $black;
                // transition: 0.25s ease 0.4s;
                transition: 0.25s ease;

                @include mq-max('xl') {
                    height: 3px;
                }

                @include mq-max('md') {
                    height: 2px;
                }
            }

            &:nth-of-type(2) {
                // transition-delay: 0.3s;
                transition-delay: 0.1s;

                &::after {
                    // transition-delay: 0.3s;
                    transition-delay: 0.1s;
                }
            }

            &:nth-of-type(3) {
                transition-delay: 0.2s;

                &::after {
                    transition-delay: 0.2s;
                }
            }

            &:nth-of-type(4) {
                // transition-delay: 0.1s;
                transition-delay: 0.3s;

                &::after {
                    // transition-delay: 0.1s;
                    transition-delay: 0.3s;
                }
            }
        }

        &.active {

            li {
                color: $black;
                translate: 0 0;

                &::after {
                    width: 100%;
                }
            }
        }
    }

    &-btns {
        position: absolute;
        bottom: $section-inner-padding;
        left: $section-inner-padding;
        display: flex;
        gap: 2rem;

        @include mq-max('md') {
            bottom: $section-inner-padding-small;
            left: $section-inner-padding-small;
        }

        .perks-cta-1 {
            // See _globals.scss for cta styles
            background-color: $coral;
            translate: 0 4rem;
            opacity: 0;
            pointer-events: none;
            transition: scale 0.4s ease, 
                rotate 0.4s ease, 
                translate 0.75s $cubic-ease-back-dramatic,
                opacity 0.24s ease 0.26s;

            &.active {
                translate: 0 0;
                opacity: 1;
                pointer-events: all;
                transition: scale 0.4s ease, 
                    rotate 0.4s ease, 
                    translate 0.75s $cubic-ease-back-dramatic,
                    opacity 0.24s ease 0.2s;
            }
        }

        .perks-cta-2 {
            // See _globals.scss for cta styles
            translate: 0 4rem;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.24s ease 0.38s,
                translate 0.75s $cubic-ease-back-dramatic 0.12s;

            &.active {
                translate: 0 0;
                opacity: 1;
                pointer-events: all;
                transition: opacity 0.24s ease 0.32s,
                    translate 0.75s $cubic-ease-back-dramatic 0.12s;
            }
        }
    }
    
    &-img {
        isolation: isolate;
        position: absolute;
        bottom: 6%;
        right: 6%;
        width: clamp(0px, 28%, 28rem);
        
        @include mq-max('lg') {
            bottom: $section-inner-padding;
            right: 10%;
            width: max(23rem, 18%);
        }

        @include mq-max('md') {
            bottom: 18%;
            right: 6%;
        }

        @include mq-max('sm') {
            bottom: 58%;
            width: 12rem;
        }

        // .peep-wrapper {
        //     // see _globals.scss for styles
        // }

        .bubble-1 {
            background-color: $yellow; 
            width: 16rem;
            height: 16rem;
            z-index: -1;
            // translate: -68% -28%;
            // animations handled in _globals.scss

            @include mq-max('md') {
                width: 10rem;
                height: 10rem;
            }

            @include mq-max('sm') {
                width: 5.6rem;
                height: 5.6rem;
            }
        }
        .bubble-2 {
            background-color: $grey; 
            width: 22rem;
            height: 22rem;
            z-index: -2;
            // translate: -20% -80%;
            // animations handled in _globals.scss

            @include mq-max('md') {
                width: 16rem;
                height: 16rem;
            }

            @include mq-max('sm') {
                width: 6.2rem;
                height: 6.2rem;
            }
        }
    }
}

.membership {
    height: unset;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: unset auto;
    
    @include mq-max('md') {
        align-items: flex-start;
    }

    // &-bg {
        // See ".section-bg" in _globals.scss
    // }

    &-title {
        // See ".section-title" _globals.scss
        color: $blue;
        padding-left: unset;
        width: 84.6%;

        @include mq-max('md') {
            font-size: 11.6vw;
            width: 100%;
            padding-left: $section-inner-padding-small;
        }

        @include mq-max('sm') {
            font-size: 11.4vw;
        }
    }

    .section-description {
        margin-bottom: 4rem;
        width: 84%;

        @include mq-max('md') {
            margin-top: 4rem;
        }
    }

    &-options {
        display: flex;
        align-items: stretch;
        width: 84%;
        gap: 2rem;
        padding-right: $section-inner-padding;
        margin-bottom: calc($section-inner-padding + 2rem);
        
        @include mq-max('xxl') {
            margin-bottom: $section-inner-padding;
        }

        @include mq-max('md') {
            flex-direction: column;
            padding-right: unset;
            padding-left: $section-inner-padding-small;
        }
        @include mq-max('sm') {
            width: 100%;
        }
    }

    &-card {
        position: relative;
        border: 4px solid $black;
        background: $white;
        padding: $body-padding-small;
        width: 56rem;
        border-radius: 6px;
        box-shadow: 0.4rem 0.4rem 0 $black;
        
        @include mq-max('lg') {
            border-width: 3px;
        }

        @include mq-max('md') {
            width: max(66rem, 92%);
        }

        @include mq-max('sm') {
            width: calc(100% - $body-padding-small);
        }

        h3, h4, h5 {
            color: $black;
        }

        h3 {
            font-size: max(0px, 6.4rem);
            font-weight: 700;
            text-transform: uppercase;
        }

        hr {
            height: 6px;
            background: $black;
            border: none;
            margin: $body-padding-small 0 2rem;
        }

        h4 {
            font-size: max(0px, 4.8rem);
            font-weight: 400;
            margin-bottom: 4rem;
            
            span {
                font-size: 13px;
                opacity: 0.5;
            }
        }

        h5 {
            font-size: max(0px, 2.8rem);
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }

        ul {
            padding-left: 2.4rem;
            margin-bottom: 6rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            li {
                color: $black;
                position: relative;
                font-size: max(14px, 2rem);
                margin-bottom: 1rem;
                
                @include mq-max('sm') {
                    padding: 0.2rem;
                }

                &:nth-of-type(3),
                &:nth-of-type(4) {

                    .tooltip {
                        @include mq-max('sm') {
                            width: 106%;
                        }
                    }
                }

                &:nth-of-type(5) {

                    .tooltip {
                        @include mq-max('sm') {
                            width: 70%;
                        }
                    }
                }
            }

            .tooltip-indicator {
                position: relative;
                vertical-align: middle;
                margin-left: 0.4rem;
                width: 2rem;
                height: 2rem;
                // cursor: help;

                &:hover,
                &:focus {

                    i {
                        &:first-of-type {
                            opacity: 0;
                        }
                        &:last-of-type {
                            opacity: 1;
                        }
                    }
                }

                &:hover ~ .tooltip,
                &:focus ~ .tooltip {
                    opacity: 1;
                    pointer-events: all;
                }

                @include mq-max('sm') {
                    width: 1.8rem;
                    height: 1.8rem;
                }

                i {
                    @include absolute-center;
                    font-size: 20px;
                    transition: 0.3s ease;

                    &:last-of-type {
                        opacity: 0;
                    }

                    @include mq-max('xxl') {
                        font-size: 16px;
                    }
                }
            }

            .tooltip {
                position: absolute;
                top: 0;
                right: 0;
                translate: calc(100% - 4px) calc(-100% + 4px);
                background: $purplegrey;
                color: $white;
                font-size: 15px;
                letter-spacing: 1px;
                line-height: 140%;
                // translate: 100% -100%;
                padding: 1.2rem;
                border-radius: 0.4rem;
                opacity: 0;
                pointer-events: none;
                transition: 0.3s ease;
                z-index: 3;
                width: 24rem;
                
                &:hover,
                &:focus-within {
                    opacity: 1;
                    pointer-events: all;
                }

                @include mq-max('lg') {
                    width: 18rem;
                }

                @include mq-max('md') {
                    width: 28rem;
                }

                @include mq-max('sm') {
                    width: 64%;
                }

                a {
                    color: $white;
                    text-decoration: underline;
                }
            }
        }

        .card-btns {
            display: flex;
            gap: 2rem;

            .cta-1 {
                padding: 2rem 4rem;
                background-color: $blue;
            }
        }
    }

    .ribbon {
        position: absolute;
        top: 5.6%;
        right: 5%;
        rotate: 12deg;
        width: 12rem;
        z-index: 1;

        @include mq-max('xxl') {
            top: 4%;
        }

        @include mq-max('xl') {
            right: 2%;
        }

        @include mq-max('md') {
            top: 5.8%;
            right: 18%;
        }

        @include mq-max('sm') {
            right: -2%;
            top: -6%;
            width: 9.6rem;
        }

        svg {
            @include absolute-center;
            width: 100%;
        }
        
        figcaption {
            @include absolute-center;
            color: $black;
            font-size: 13px;
            font-weight: 800;
            text-transform: uppercase;
            text-align: center;

            @include mq-max('xxl') {
                font-size: 10px;
            }
        }
    }

    &-img {
        isolation: isolate;
        position: absolute;
        bottom: 8%;
        left: 2%;
        width: clamp(8rem, 12%, 20rem);
        z-index: 2;
        
        @include mq-max('md') {
            bottom: auto;
            left: auto;
            top: 8%;
            right: 4%;
            transform: scaleX(-1);
            width: 16%;
        }

        @include mq-max('sm') {
            top: 37%;
            width: 20%;
        }

        .peep-wrapper {
            rotate: -2.5deg;
        }

        .bubble-1 {
            background-color: $coral; 
            width: 16rem;
            height: 16rem;
            // translate: -16% -100%;
            // animations handled in _globals.scss

            @include mq-max('md') {
                width: 10rem;
                height: 10rem;
            }

            @include mq-max('sm') {
                width: 5.6rem;
                height: 5.6rem;
            }
        }

        .bubble-2 {
            background-color: $green; 
            width: 18rem;
            height: 18rem;
            // translate: -60% -28%;
            z-index: -2;
            // animations handled in _globals.scss

            @include mq-max('md') {
                width: 14rem;
                height: 14rem;
            }

            @include mq-max('sm') {
                width: 5.6rem;
                height: 5.6rem;
            }
        }
    }
}

.questions {
    height: unset;

    @include mq-max('lg') {
        padding-bottom: 46rem;
    }

    &-title {
        // See ".section-title" in _globals.scss
        // Feel free to make unique style changes here though.
        color: $green;

        @include mq-max('md') {
            font-size: 11.6vw;
            width: 100%;
        }

        @include mq-max('sm') {
            font-size: 11.4vw;
        }
    }

    &-list {
        display: flex;
        flex-direction: column;
        width: max(78rem, 46%);
        margin: 2rem $section-inner-padding 4rem;
        
        @include mq-max('lg') {
            width: 74%;
        }

        @include mq-max('md') {
            width: calc(100% - $section-inner-padding);
            margin-left: $section-inner-padding-small;
        }

        .faq-item {
            color: $black;
            height: 6rem;
            margin-bottom: 1rem;
            border-bottom: 4px solid $black;
            transition: all 0.3s $cubic-ease-back, border 0.4s $cubic-ease-back-dramatic;

            @include mq-max('lg') {
                height: 8rem;
                border-width: 3px;
            }

            &:hover,
            &:focus {
                translate: 1.2rem 0;
                border-width: 7px;
                
                @include mq-max('xxl') {
                    border-width: 6px;
                }

                @include mq-max('lg') {
                    border-width: 5px;
                }
            }

            // 5 lines - 6 lines
            &-xl {
                &.active {
                    height: max(200px, 24rem);
                }
            }

            // 3 lines - 4 lines
            &-lg {
                &.active {
                    height: max(164px, 20rem);
                }
            }

            // 3 lines
            &-md {
                &.active {
                    height: max(140px, 18rem);
                }
            }

            // 2 lines
            &-sm {
                &.active {
                    height: max(120px, 14rem);
                }
            }
            
            // 1 line
            &-xs {
                &.active {
                    height: max(80px, 12rem);
                }
            }
        }

        .question {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 2rem 0;

            &-indicator {
                font-weight: 700;
                width: 2.8rem;
            }

            h3 {
                color: $black;
                font-size: max(18px, 2.4rem);
                font-weight: 500;
                text-align: left;
                flex-grow: 1;
            }
            
            .angle-arrow {
                width: 2.6rem;
                transition: 0.3s $cubic-ease-back;

                &.active {
                    rotate: 180deg;
                }
            }    
        }

        .answer {
            display: flex;
            justify-content: space-between;
            opacity: 0;
            pointer-events: none;
            translate: 0 -16px;
            font-size: max(16px, 2rem);
            padding-bottom: 2rem;
            transition: 0.2s ease 0s;
            
            &.active {
                opacity: 1;
                pointer-events: all;
                translate: 0 0;
                transition: 0.3s ease 0.12s;
            }

            &-indicator {
                padding: 2px;
                font-size: 2.4rem;
                font-weight: 700;
            }

            p {
                width: 96%;
                vertical-align: middle;
                line-height: 150%;
            }

            .faq-inner-link {
                text-decoration: underline;

                i {
                    color: $black;
                }
            }
        }
    }

    &-description {
        margin-left: unset;
        position: absolute;
        top: 46rem;
        right: 5vw;
        width: calc(10rem + 24vw);

        @include mq-min('xxxl') {
            width: 56rem;
            right: calc($section-inner-padding * 4);
        }

        @include mq-max('lg') {
            width: 72rem;
            top: auto;
            bottom: calc($section-inner-padding-small * 10);
            left: $section-inner-padding;
        }
        
        @include mq-max('md') {
            width: calc(16rem + 50vw);
            bottom: calc($section-inner-padding-small * 10);
            left: $section-inner-padding-small;
        }

        h3 {
            font-size: max(32px, 4.2rem);
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }
        p {
            line-height: 120%;
        }
    }

    &-img {
        // border: $test;
        isolation: isolate;
        position: absolute;
        top: 22rem;
        right: 4vw;
        width: clamp(0px, 12%, 28rem);
        height: 50rem;
        display: flex;
        align-items: flex-end;
        
        @include mq-min('xxxl') {
            right: calc($section-inner-padding * 4);
        }

        @include mq-max('lg') {
            top: unset;
            height: unset;
            bottom: $section-inner-padding-small;
            right: calc($section-inner-padding * 2);
            width: 16%;
        }

        // .peep-wrapper {
        //     // see _globals.scss for styles
        // }

        .bubble-1 {
            background-color: $purplegrey; 
            width: 18rem;
            height: 18rem;
            translate: -46% -90%;
            z-index: -2;
            // animations handled in _globals.scss

            @include mq-max('xxl') {
                width: 14rem;
                height: 14rem;
            }

            @include mq-max('md') {
                width: 8rem;
                height: 8rem;
            }

            @include mq-max('sm') {
                width: 3.6rem;
                height: 3.6rem;
            }
        }

        .bubble-2 {
            background-color: $yellow; 
            width: 14rem;
            height: 14rem;
            translate: 0% -46%;

            // animations handled in _globals.scss

            @include mq-max('xxl') {
                width: 10rem;
                height: 10rem;
            }

            @include mq-max('sm') {
                width: 4.8rem;
                height: 4.8rem;
            }
        }
    }

    &-btns {
        position: absolute;
        top: 76rem;
        right: 5vw;
        width: calc(10rem + 24vw);
        display: flex;
        gap: 2rem;

        @include mq-min('xxxl') {
            width: 56rem;
            right: calc($section-inner-padding * 4);
        }

        @include mq-max('lg') {
            width: unset;
            top: auto;
            bottom: $section-inner-padding;
            left: $section-inner-padding;
        }

        @include mq-max('md') {
            bottom: $section-inner-padding-small;
            left: $section-inner-padding-small;
        }

        .cta-1 {
            background-color: $green;
            color: $black;
        }
    }

    &-smart-break {

        @include mq-max('lg') {
            display: none;
        }

        // @include mq-max('md') {
        //     display: block;
        // }
    }
}

.pre-footer {
    padding: $body-padding-small $body-padding-small 12rem;
    height: unset;
    border: none;
    box-shadow: none;

    &-brands {
        @include row-center;
        gap: 8rem;
        margin-bottom: 8rem;
        
        @include mq-max('xl') {
            gap: 4rem;
        }

        @include mq-max('md') {
            gap: 2rem;
        }

        @include mq-max('sm') {
            flex-wrap: wrap;
            margin-bottom: 4rem;
        }
        
        img {
            width: 18rem;
            
            @include mq-max('md') {
                width: 14rem;
            }

            @include mq-max('sm') {
                width: 10rem;
            }
        }
    }

    &-main {
        @include column-center;
        justify-content: center;
        gap: 6rem;
        
        @include mq-max('sm') {
            gap: 4rem;
        }

        h2 {
            color: $white;
            -webkit-text-stroke: 3px $black;
            font-size: 10.9rem;
            font-weight: 900;
            line-height: normal;
            text-transform: uppercase;
            filter: drop-shadow(3px 3px 0 $black);
            text-align: justify;
            width: 93.3rem;
            
            @include mq-max('lg') {
                font-size: 8rem;
                width: 64rem;
                filter: drop-shadow(3px 3px 0 $black);
            }

            @include mq-max('sm') {
                font-size: 7.2rem;
                width: 35.4rem;
                filter: drop-shadow(3px 3px 0 $black);
            }
        }

        p {
            color: $white;
            font-size: max(16px, 2.4rem);
            width: 40rem;
            text-align: center;
            
            @include mq-max('lg') {
                width: 48rem;
            }

            @include mq-max('sm') {
                width: 86%;
            }
        }

        a {
            border: 3px solid $black;
            border-radius: 6px;
            background: $yellow;
            padding: 4rem 8rem;
            color: $black;
            font-size: 4rem;
            font-weight: 800;
            text-transform: uppercase;
            box-shadow: 4px 4px 0 $black;

            @include mq-max('lg') {
                padding: 3.2rem 4rem;
                font-size: 3.2rem;
            }

            @include mq-max('sm') {
                padding: 2.8rem 3.6rem;
                font-size: 2.8rem;
            }
        }
    }

    figure {
        // border: $test;
        position: absolute;
        top: 50%;
        translate: 0 -50%;
        width: min(12vw, 22rem);
        z-index: -1;
        
        @include mq-max('xxl') {
            width: 10vw;
        }

        @include mq-max('md') {
            top: 70%;
        }

        @include mq-max('sm') {
            top: 80%;
            scale: 1.25;
        }

        .bubble {
            z-index: -1;
        }
    }

    &-peep-1 { 
        left: $body-padding;
        
        @include mq-max('md') {
            left: $body-padding-small;
        }

        .bubble-1 {
            background: $blue;
            width: min(14vw, 27rem);
            height: min(14vw, 27rem);
            translate: -44% -80%;

            @include mq-max('xxl') {
                width: 12vw;
                height: 12vw;
            }
            
        }

        .bubble-2 {
            background: $yellow;
            width: min(9.4vw, 18rem);
            height: min(9.4vw, 18rem);
            translate: -88% 0;

            @include mq-max('xxl') {
                width: 7.4vw;
                height: 7.4vw;
            }
            
        }

        .bubble-3 {
            background: $grey;
            width: min(9.4vw, 18rem);
            height: min(9.4vw, 18rem);
            translate: 16% -20%;

            @include mq-max('xxl') {
                width: 7.4vw;
                height: 7.4vw;
            }
            
        }
    }

    &-peep-2 {
        right: $body-padding;
        
        @include mq-max('md') {
            right: $body-padding-small;
        }

        img {
            width: 120%;
            translate: -5%;
        }

        .bubble-1 {
            background: $purplegrey;
            width: min(14vw, 28rem);
            height: min(14vw, 28rem);
            translate: -60% -20%;

            @include mq-max('xxl') {
                width: 12vw;
                height: 12vw;
            }
        }

        .bubble-2 {
            background: $blue;
            width: min(10vw, 18rem);
            height: min(10vw, 18rem);
            translate: -12% -100%;

            @include mq-max('xxl') {
                width: 8vw;
                height: 8vw;
            }
        }
    }
}

.footer {
    position: relative;
    @include row-between;
    max-width: $width-constraint;
    margin: auto;
    padding: calc($body-padding * 2);

    @include mq-max('md') {
        flex-direction: column;
        gap: 20rem;
    }
    
    @include mq-max('sm') {
        padding: $body-padding-small;
        padding-bottom: $body-padding;
        gap: unset;
    }

    .social-icons {
        display: flex;
        gap: 2rem;

        @include mq-max('md') {
            position: absolute;
            right: 0;
        }

        @include mq-max('sm') {
            gap: 1rem;
        }

        a {
            transition: 0.4s $cubic-ease-back;

            &:hover,
            &:focus {
                scale: 1.2;
                rotate: 2deg;
            }
        }

        i {
            font-size: 4rem;
            color: $white;

            @include mq-max('sm') {
                font-size: 3.2rem;
            }
        }
    }

    &-logo {
        @include absolute-center;
        width: 20rem;

        @include mq-max('md') {
            width: 16rem;
            top: unset;
            left: unset;
            bottom: 0;
            right: 0;
            translate: unset;
        }

        @include mq-max('sm') {
            width: 10rem;
            bottom: $body-padding;
        }
    }

    &-nav {
        display: flex;
        justify-content: space-between;
        gap: 4rem;

        @include mq-max('md') {
            justify-content: flex-start;
            width: calc(100% - 4rem);
        }
 
        @include mq-max('sm') {
            width: 100%;
            gap: 2rem;
        }

        &-group {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            @include mq-max('md') {
                gap: 2rem;
            }

            @include mq-max('sm') {
                gap: 1.2rem;
            }

        }

        a {
            color: $white;
            font-size: max(12px, 2rem);
            font-weight: 300;
            text-transform: uppercase;
        }
    }
}